@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Estilo global corporativo */
body {
  @apply bg-slate-100 text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.modal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5f5 transparent;
}

.modal-scroll::-webkit-scrollbar {
  width: 6px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5f5;
  border-radius: 9999px;
}

.modal-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #64748b;
}
